<div id="projectsCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#projectsCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#projectsCarousel" data-slide-to="1"></li>
    <li data-target="#projectsCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active item1">
      <h1> Project 1 </h1>
    </div>
    <div class="carousel-item item2">
      <h1> Project 2 </h1>
    </div>
    <div class="carousel-item item3">
      <h1> Project 3 </h1>
  </div>
  <a class="carousel-control-prev" href="#projectsCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#projectsCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

